@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif ;
}

body{
    background-color: #D9D9D9;
}

.search{
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    margin-left: 120px;
}

.search i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #616060;
}

.search input{
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
    font-size: 16px;
    outline: none;

}

.header {
    background-color: white;
    width: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  }

.aside{
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100%;
}

.main_content{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    width: 80vw;
    height: 80vh;
}

.main_header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_header{
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.content_separation{
    border: 1px solid #FF8F1F;
    margin: 10px;
}

.form_header{
    padding: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
}

.popup_registerProduct{
    background-color: white;
    height: 55%;
    width: 28%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.151);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    position: fixed;
    display: none;
    
    
}  

.below{
    margin: 20px;
}

.below label{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.below input{
    margin-top: 10px;
    width: 500px;
    height: 35px;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #a5a3a3af;
}

.side{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.side label{
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    font-weight: bold;
}

.side input{

    width: 220px;
    height: 35px;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #a5a3a3af;
    
}
.mandatory{
    color: #FC0404;
}

.btn_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.btn_formCancel{
    background-color: #FFDEDE;
    color: #951111;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn_formCancel:hover{
    background-color: #951111;
    color: #FFDEDE;
    transform: scale(1.15);
}

.btn_addProduct{
    color: white;
    background-color: #FF8F1F;
    border: #FF8F1F;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 30px;
}

.btn_addProduct:hover{
    background-color: #e67300;
    transform: scale(1.05);
}

.main_header .btn_addProduct{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}


.btn_form .btn_addProduct {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 210px;
    padding: 0px;
    height: 55px;
}

#overlay{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.288); 
    display: none; 
    z-index: 1000; 
}

.btn_aside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    background-color: white;
    border: none;
    transition: fill 0.3s ease, transform 0.2s;

}

.btn_aside svg{
    fill: #FF8F1F;
    transition: fill 0.3s ease, transform 0.2s; 
}

.btn_aside:hover svg{
    fill: #d66c02;
    transform: scale(1.15);
}

table {
    width: 96%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 25px;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 20px;
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px;
}

tr:hover {
    background-color: #f5f5f5;
}

.edit-btn{
    background-color: white;
    border: none;
}

.edit-btn svg{
    fill: #FAAC04;
    transition: fill 0.3s ease, transform 0.2s; 
}

.edit-btn:hover svg{
    background-color: #faac043d;
    transform: scale(1.15);
}

.delete-btn{
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-left: 65px;

}

.delete-btn svg{
    fill: #951111;
    transition: fill 0.3s ease, transform 0.2s; 
}
.delete-btn:hover svg{
    background-color:#FFDEDE ;
    transform: scale(1.15);
}

#feedback-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    display: none;
    width: 180px;
    height: 30px;
    margin-left: 150px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}





  